.site-footer .capped {
  width: 100%;
  max-width: none;
}

.site-footer {
  margin-bottom: 50x;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 40px;
  gap: 0;
  font-family: var(--font-title);
  font-size: 13px;
  flex-wrap: nowrap;
}

.footer-grid a {
  transition: opacity .3s ease;
  white-space: nowrap;
}

.footer-grid a:hover {
  opacity: .45;
}


.footer-bottom {
  margin-top: 80px;
  text-align: center;
  font-size: 11px;
}

@media (max-width: 768px) {
  .footer-grid {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .footer-grid {
    flex-direction: column;
    gap: 16px;
  }

  .footer-bottom {
    margin-top: 50px;
    font-size: 10px;
  }
}

.site-footer .footer-grid a {
  margin-right: 70px;
}
