<div
  class="project-card"
  [class.is-expanded]="isViewerOpen">

  <div
    class="preview"
    (click)="isViewerOpen ? $event.stopPropagation() : notifyOpen($event)">

    <div class="media">

      @if (!isViewerOpen) {

        @if (current.type === 'image') {

          <img
            [src]="current.url"
            [alt]="project.title"
            loading="lazy">

        }

        @if (current.type === 'video') {

          <img
            class="video-thumbnail"
            [src]="current.thumbnail || getBunnyThumbnail(current.url)"
            [alt]="project.title"
            loading="lazy">

        }

      } @else {

        @if (current.type === 'image') {

          <img
            [src]="current.url"
            [alt]="project.title">

        }

            @if (current.type === 'video') {

n          @if (current.url && /\.(mp4|webm|ogg|ogv)(\?.*)?$/.test(current.url)) {

n            <video
              #videoPlayer
              controls
              preload="metadata"
              [attr.title]="project.title"
              [src]="current.url"
              (play)="onVideoPlay()"
              (pause)="onVideoPause()"
              (click)="$event.stopPropagation()">
            </video>

n            <!-- Play button (white triangle only). Stops propagation so click doesn't close the expanded view -->
          @if (!isVideoPlaying) {
            <button
              type="button"
              class="play-button"
              (click)="playVideo($event)"
              aria-label="Play">
              <svg width="28" height="34" viewBox="0 0 28 34" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <path d="M2 1v32l24-16L2 1z" fill="#fff" />
              </svg>
            </button>
          }

n          } @else {

n            <iframe
              [src]="safeVideoUrl"
              [title]="project.title"
              allow="autoplay; fullscreen; picture-in-picture"
              allowfullscreen
              (click)="$event.stopPropagation()">
            </iframe>

n            <!-- If iframe-based player, no programmatic play control available here. -->
          }

        }

      }

    </div>


    @if (!isViewerOpen) {

      <div class="overlay">

        <div class="overlay-titles">

          <h3>
            {{ project.title }}
          </h3>

          @if (project.subtitle) {

            <span>
              {{ project.subtitle }}
            </span>

          }

        </div>

      </div>


      @if (project.media.length > 1) {

        <button
          type="button"
          class="carousel-button previous"
          (click)="previous($event)"
          aria-label="Previous">

          ‹

        </button>


        <button
          type="button"
          class="carousel-button next"
          (click)="next($event)"
          aria-label="Next">

          ›

        </button>


        <div class="carousel-dots">

          @for (
            item of project.media;
            track $index
          ) {

            <button
              type="button"
              [class.active]="$index === currentMedia"
              (click)="selectMedia($index, $event)"
              aria-label="Select media">
            </button>

          }

        </div>

      }

    }

  </div>


  @if (isViewerOpen) {

    <div class="expanded-info">

      <div>

        <h2>
          {{ project.title }}
        </h2>

        @if (project.subtitle) {

          <span>
            {{ project.subtitle }}
          </span>

        }

      </div>


      <button
        type="button"
        class="viewer-close"
        (click)="closeViewer()"
        aria-label="Close">

        ×

      </button>

    </div>

  }

</div>