<section id="biography" class="biography">

  <div class="bordered-title text-title">
    <span>Biography</span>
  </div>

  <div class="biography-content">

    <h2 class="text-title">
    </h2>

    <div class="bio-text">

      <p>
        Emmanuel Echavarría is a Mexican director and cinematographer
        working across fashion,<br>
        film and visual storytelling.
      </p>

      <p>
        His work combines directing, cinematography and production,
        with a focus on visual atmosphere, movement, light and cinematic composition.
      </p>

      <p>
        He has directed and worked on productions across Mexico,
        the United States, Europe and Asia, collaborating with brands
        including:
      </p>

      <p>
        <span class="brand-bold">ALEXANDER WANG - </span>
        <span class="brand-bold">NIKE - </span>
        <span class="brand-bold">MOWALOLA - </span>
        <span class="brand-bold">JNBY - </span>
        <span class="brand-bold">SHEIN - </span>
        <span class="brand-bold">COEVAL MAGAZINE - </span>
        <span class="brand-bold">VOGUE ITALIA</span>.
      </p>

    </div>

  </div>

</section>