.biography {
  margin-top: 80px;
}

.bordered-title {
  border-top: 1px solid var(--border);
  text-align: center;
  position: relative;
}

.bordered-title span {
  position: relative;
  top: -8px;
  background: var(--white);
  padding: 0 14px;
  font-size: 13px;
  font-family: var(--font-title);
}

.biography-content {
  max-width: 760px;
  margin: 65px auto;
  padding-inline: 0px;
  text-align: center;
}

.bio-text {
  font-size: 14px;
  line-height: 1.45;
  font-family: var(--font-title);
  letter-spacing: .01em;
}

.bio-text p {
  margin-bottom: 18px;
}

.bio-text p:last-child {
  margin-bottom: 0;
}

.brands {
  font-size: 16px;
}

@media (max-width: 600px) {

  .biography {
    margin-top: 55px;
  }

  .biography-content {
    margin: 45px auto 70px;
  }

  .bio-text {
    font-size: 13px;
    line-height: 1.4;
    padding:20px;
  }

  .brands {
    font-size: 14px;
  }

}