<section
  id="biography"
  class="biography">

  <div class="bordered-title text-title">
    <span>Biography</span>
  </div>

  <div class="biography-content">

    <div class="bio-text">

      <p>
        Emmanuel is a Mexican director
        and cinematographer working across fashion,
        film and visual storytelling.
      </p>

      <p>
        His work combines directing, cinematography
        and production, with a focus on visual
        atmosphere, movement, light and cinematic
        composition.
      </p>

      <p>
        He has directed and worked on productions
        across Mexico, the United States, Europe
        and Asia, collaborating with brands
        including:
      </p>

      <p class="brands">
        ALEXANDER WANG -
        NIKE -
        MOWALOLA -
        JNBY -
        SHEIN -
        COEVAL MAGAZINE -
        VOGUE.
      </p>

    </div>

  </div>

</section>